<ion-header>
  <ion-navbar color="white">
    <ion-toolbar>
      <ion-title *ngIf="productdata!=undefined">
        {{productdata.itemName}}
      </ion-title>
    </ion-toolbar>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-slides pager *ngIf="itemImage.length>0">
    <ion-slide *ngFor="let item of itemImage">
      <img [src]="item.imageURL" onerror="this.onerror=null;this.src='assets/imgs/dummy.png'" />
    </ion-slide>
    <!-- <ion-slide>
      <img
        src="https://gitcdn.link/cdn/Mohit-Ch/ranaissancebridge/9672d4dbdf787aadb2c4b4b8872fd59692d98ef4/assets/images/product/product-2.jpg" />
    </ion-slide> -->
  </ion-slides>
  <ion-row class="marginB56" *ngIf="productdata!=undefined">
    <ion-col padding='8' class="paddingLR15">
      <!-- <h4 class="marginB20 text-center"></h4> -->
      <ion-row>
        <ion-col col-12 class="">
          <!-- <ion-item *ngIf="productdata.EditionType!=0"> -->
          <ion-item>
            <ion-select value="brown" okText="Okay" cancelText="Dismiss" (ionChange)="datachange()"
              [(ngModel)]="productdata.EditionId">
              <ion-option *ngFor="let editions of itemedition " [value]="editions.id">{{editions.itemEditionName}}
              </ion-option>
            </ion-select>
          </ion-item>
          <!-- <ion-item *ngIf="productdata.EditionType==0">
              <ion-label *ngIf="itemedition!=undefined && itemedition.length>0 ">{{itemedition[0].itemEditionName}}
              </ion-label>
            </ion-item> -->
          <div class="flex-container">
            <ion-label>Quantity</ion-label>
            <ion-col col-6 class="calculation" >
              <button class="add-btn" clear (click)="decrementQty(productdata)"><ion-icon name="remove-circle" ></ion-icon></button>
              <span>{{productdata.quantity}}</span>
              <button class="add-btn" clear (click)="incrementQty(productdata)"><ion-icon name="add-circle" ></ion-icon></button>
            </ion-col>
            <!-- <ion-input type='number' class="quantity" [(ngModel)]="productdata.quantity" width="10%" min="0"
              [max]="productdata.maxquantity"></ion-input> -->
          </div>
        </ion-col>
      </ion-row>
      <hr />
      <p>
        {{remark}}
      </p>
      
      <p *ngIf="productdata!=undefined">
        {{productdata.aboutItem}}
      </p>
      <p *ngFor="let item of itemInfo">
        {{ item.AttributeKey==null?"" : item.AttributeKey }}<span
          *ngIf="item.AttributeKey!=null && item.AttributeKey!=''"> :</span> {{item.AttributeValue}}
      </p>
    </ion-col>
  </ion-row>
</ion-content>
<ion-footer class="ion-no-border" *ngIf="productdata!=undefined">
  <ion-toolbar>
    <h5 class="flex2">KWD {{productdata.price}}</h5>
    <button class="flex1" ion-button color='primary' *ngIf="productdata.ShowAddbutton==true"
      (click)="addtoCartClick(item)" expand="block" size='lg' fill="outline">Buy</button>
  </ion-toolbar>
</ion-footer>