page-cart {
    ion-item, .item-md {
        min-height: auto;
        padding: 0;
        font-size: 14px;
        ion-label, .label-md, .label-ios {
            margin: 0;
        }
    }
    ion-select, .select-md, .select-ios {
        max-width: 100%;
        width: 100%;
        padding: 5px 5px 5px 0;
    }
    p {
        margin: 5px 0;
    }
    hr {
        background: #dedede;
    }
    .align-product-image {
        display: flex;
        align-items: center;
        img {
            width: 150px;
            height: 150px;
            object-fit: contain;
            max-width: 100%;
        }
    }
    ion-input.quantity {
        margin: 5px;
        max-width: 40px;
        border: 1px solid #ccc;
        border-radius: 10px;
        margin-right: 15px;
        display: flex;
        input.native-input {
            text-align: center !important;
            padding: 10px 8px !important;
        }
        .text-input-md, .text-input-ios {
            text-align: center;
            margin: 8px 4px;
            width: 100%;
        }
    }
    .add-product {
        width: 70%;
    }
    ion-input.couponcode {
        margin: 5px;
        max-width: 30vh;
        border: 1px solid #ccc;
        border-radius: 10px;
        margin-right: 15px;
        display: flex;
        input.native-input {
            text-align: center !important;
            padding: 10px 8px !important;
        }
        .text-input-md, .text-input-ios {
            text-align: center;
            margin: 8px 4px;
            width: 100%;
        }
    }
    .apply-coupon{
        width: 30%;
    }
    .paddingLRT{
        padding:10px 10px 10px 10px ;
    }
    .text-center{
        text-align: center;
    }
    .text-right{
        text-align: right;
    }
    
    ion-footer {
        padding: 5px;
       // margin-bottom: 55px;
        background: #fff;
        .toolbar-background-md {
            border-color: #ffffff;
            background: #ffffff;
        }
        .toolbar-content {
            display: flex;
            h5 {
                display: inline-block;
            }
            .flex2 {
                flex: 2;
            }
            .flex1 {
                flex: 1;
            }
        }
        
    }
    ion-card.card {
        border-radius: 8px !important;
    }
    .grid {
        display: flex;
        min-height: calc(100vh - 160px);
        .marginT-auto {
            margin-top: auto;
        }
        h6 {
            margin: 2px 0;
        }
    }
    .positionR {
        position: relative;
    }
    .close-button-container {
        position: absolute;
        top: 6px;
        right: 6px;
        .close-button {
            padding: 8px;
        }
    }
    
}
