<ion-header>
  <ion-navbar color="white">
    <ion-toolbar>
      <ion-buttons start>
        <button ion-button (click)="clickRefresh()" clear>
          <ion-icon class="font-big" name="refresh"></ion-icon>
        </button>
      </ion-buttons>
      <ion-title>
        Cart
      </ion-title>
    </ion-toolbar>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid class="no-padding" *ngIf=" productList!=undefine && productList.length>0">
    <ion-row *ngIf="subtotal<50" class="text-danger">
      <ion-col>
        <h4>
          A minimum total purchase amount of 50 KWD is required for home delivery.
        </h4>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <ion-row>
          <ion-col col-12>
            <p>
              <small>Do you have any coupon code?</small>
            </p>
            <div class="flex-container">
              <ion-input type='text' class="couponcode" width="10%" max="6" placeholder="Promo Code"
                [(ngModel)]="coupanCode"></ion-input>
              <button class="apply-coupon" ion-button color='primary' right size='sm' fill="outline"
                (click)="Applycouponcode()">Apply</button>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12 left>
            <ion-row *ngIf="coupanShowMessagedeny">
              <ion-col col-12 class="text-right text-danger">
                Coupon is not Valid!
              </ion-col>
            </ion-row>
            <ion-row *ngIf="coupanShowMessagesuccess">
              <ion-col col-12 class="text-left text-primary">
                Coupon applied <span class="text-uppercase">{{oldCode}} </span> <br />
                <small>Max discount amount applicable {{maxdiscountamoumt}} <br /> Minimum order amount must be
                  {{minumamount}} </small>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12 class="no-padding">
        <ion-list *ngIf="productList.length>0">
          <ion-card *ngFor="let item of productList">
            <ion-row class="w100 positionR">
              <ion-col col-4 class="align-product-image" (click)="ProductDetail(item.id)">
                <img [src]="item.imageurl" onerror="this.onerror=null;this.src='assets/imgs/dummy.png'" />
              </ion-col>
              <ion-col col-8 class="paddingLR15">
                <h5 class="marginB10"><b>{{item.itemName}}</b></h5>
                <ion-item>
                  <p>
                    {{item.Edition[0].itemEditionName}}
                  </p>
                  <!-- <ion-select value="brown" okText="Okay" cancelText="Dismiss" (ionChange)="datachange(item)"
                    [(ngModel)]="item.EditionId">
                    <ion-option *ngFor="let editions of item.Edition " [value]="editions.id">
                      {{editions.itemEditionName}}</ion-option>
                  </ion-select> -->
                </ion-item>
                <div class="flex-container">
                  <ion-input *ngIf="item.ShowAddbutton==true" type='number' class="quantity" [(ngModel)]="item.quantity"
                    (ionBlur)="addtoCartClick($event, item)" (keyup)="onKeyUp($event, item)" width="10%" min="0"
                    [max]="item.maxquantity"></ion-input>
                  <h6 class="no-margin">KWD {{item.price}}</h6>
                </div>
                <p class="text-danger" *ngIf="item.OutOfOrder">
                  <b>Out of stock</b> <br />
                  <small>this item will be
                    available soon. Check back later</small>
                </p>
              </ion-col>
              <div class="text-center close-button-container">
                <button ion-button color='danger' class="close-button" small outline round (click)="RemoveToCart(item)">
                  <ion-icon name="close"></ion-icon>
                </button>
              </div>
            </ion-row>
          </ion-card>
        </ion-list>
        <ion-list *ngIf="productList.length==0">
          <ion-card>
            <ion-row class="w100">
              No Item to be showen
            </ion-row>
          </ion-card>
        </ion-list>
      </ion-col>
    </ion-row>


    <ion-row class="marginT-auto" *ngIf=" Discount != 0">
      <ion-col col-12>
        <hr />
      </ion-col>
      <ion-col col-6 class="text-right">
        <h6>
          Sub Total
        </h6>
      </ion-col>
      <ion-col col-6 class="text-right">
        <h6>
          <small>KWD</small> <b>{{subtotal}}</b>
        </h6>
      </ion-col>
    </ion-row>
    <ion-row *ngIf=" Discount != 0">
      <ion-col col-6 class="text-right">
        <h6>
          Discount
        </h6>
      </ion-col>
      <ion-col col-6 class="text-right">
        <h6>
          <small>KWD</small> <b>{{Discount}}</b>
        </h6>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf=" cartdetail.length==0">
    <ion-row>
      <ion-col>
        <h4 class="flex2 text-dange">
          Your cart is empty!
        </h4>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar *ngIf="showProcidebutton==false">
    <h5 class="flex2 text-danger no-margin">
      <small>
        There is one or more item out of stock. Please review cart items.
      </small>
    </h5>
    <button class="flex1" ion-button color='primary' disabled expand="block" size='lg' fill="outline">Continue</button>
  </ion-toolbar>
  <ion-toolbar *ngIf="showProcidebutton==true">
    <button class="flex1" ion-button color='primary' *ngIf="showProcidebutton==true && subtotal>=50"
      (click)="checkout()" expand="block" size='lg' fill="outline">Continue</button>
    <h5 class="flex2  text-right">
      <small>Total :- </small>
      <span class="text-primary"><small>KWD </small> {{total}}</span>
    </h5>
  </ion-toolbar>
</ion-footer>