<ion-content padding class="shortModal">

  <ion-list>
    <ion-item>
      <b *ngIf="callAddressList.length>0 && addressStorage == undefined">Choose your Address</b>
      <div float-end (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </div>
    </ion-item>

    <ion-item *ngIf="callAddressList.length>0">
      <ion-card *ngFor="let item of callAddressList">
        <!-- <ion-card-header>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          <ion-card-title>Card Title</ion-card-title>
        </ion-card-header> -->
        <ion-card-content (click)="onclickgrid(item)">
          {{item.address1}} ,{{item.city}},{{item.country}},{{item.postal_code}}
        </ion-card-content>
      </ion-card>
    </ion-item>

    <ion-item *ngIf="addressStorage!=undefined">
      <ion-card (click)="onclickgrid(addressStorage)">
        <ion-card-content>
          {{addressStorage.address1}} ,{{addressStorage.city}},{{addressStorage.country}},{{addressStorage.postal_code}}
        </ion-card-content>
      </ion-card>
    </ion-item>


    <ion-item>
      <button ion-button color="primary" clear (click)=AddNewAddress()>Add an address</button>
    </ion-item>
  </ion-list>
</ion-content>