<div float-end (click)="dismiss()" class="end">
  <ion-icon name="close" class="cross"></ion-icon>
</div>
<ion-content text-wrap padding text-center class="shortModal">
  <ion-grid class="userSession">
    <ion-row justify-content-center>
      <ion-col>
        <!-- <p class="logo">
          <img src="assets/imgs/logo.png" alt="">
        </p> -->
        <h2>Login</h2>
        <form [formGroup]="myForm" padding-horizontal>
          <ion-list class="noBoxshadow">
            <ion-item class="noBorder">
              <ion-label stacked color="primary">Email</ion-label>
              <ion-input class="paddingL8" formControlName="email" type="email" autocomplete="off"
                (keyup.enter)="login()"></ion-input>
            </ion-item>
            <p ion-text color="red" class="warning" *ngIf="myForm.get('email').hasError('required') && submitt == true">
              Email is required!
            </p>
            <p ion-text color="red" class="warning" *ngIf="
          myForm.get('email').hasError('pattern') && myForm.get('email').touched">
              Email is not valid!
            </p>
          </ion-list>
          <ion-list class="noBoxshadow">
            <ion-item>
              <ion-label stacked color="primary">Password</ion-label>
              <ion-input class="paddingL8" formControlName="password" type="password" (keyup.enter)="login()">
              </ion-input>
            </ion-item>
            <p ion-text color="red" class="warning" *ngIf="
          myForm.get('password').hasError('required') && submitt == true
        ">
              Password is required!
            </p>
            <p ion-text color="red" class="warning" *ngIf="
          myForm.get('password').hasError('minlength') &&
          myForm.get('password').touched
        ">
              Password should have minimum 6 chars in length!
            </p>
            <p ion-text color="red" class="warning" *ngIf="
          myForm.get('password').hasError('maxlength') &&
          myForm.get('password').touched
        ">
              Password should have maximum 10 chars in length!
            </p>
            <ion-item style="display:none;" class="MB8">
              <ion-input></ion-input>
            </ion-item>
          </ion-list>
          <ion-item class="noBorder MB8">
            <button type="submit" ion-button block (click)="login()" color="buttonColor">
              Login
            </button>
          </ion-item>
          <!-- <ion-item class="noBorder" text-center>
            <p ion-text color="primary" class="createAccount" (click)="registration()">
              <small ion-text color="danger"> Don't have an account? </small><br>
              Register
            </p>
            <br />
          </ion-item> -->

        </form>
        <!-- <p ion-text text-wrap color="primary" class="createAccount" no-margin text-center>
          <small> <span (click)="forgotPassword()"> Forget your password? <br></span> Having Trouble? <a
              [href]="'mailto:' + 'help@jobtiviti.com' + '?Subject=Trouble%20in%20login'">
              <small> Contact Us </small></a> </small>
        </p> -->
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>