<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button (click)="clickRefresh()" clear>
        <ion-icon class="font-big" name="refresh"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Previous orders</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-row class="align-start" *ngIf="showlogin">
    <ion-col col-9>
      <h4>
        From current device <br>
        <small><small>Login to your account to check all the orders from other divices also.</small></small>
      </h4>
    </ion-col>
    <ion-col col-3 class="text-right">
      <button  (click)="Login()" ion-button color='primary' size='sm'>Login</button>
    </ion-col>
  </ion-row>

  <ion-row class="align-start" *ngIf="!showlogin">
    <ion-col col-9>
      <h4>
       Hello 
      </h4>
      <p class="text-captalize">{{name}}</p>
    </ion-col>
    <ion-col col-3 class="text-right">
      <button (click)="presentActionSheet()" ion-button clear  color='primary' >
        <ion-icon class="font-big" name="cog"></ion-icon>
</button>
    </ion-col>
  </ion-row>
  <ion-row class="padding-top16">
    <ion-col col-12 class="no-padding">
      <ion-list *ngIf="productList.length>0">
        <div *ngFor="let item of productList">
          <ion-row class="w100">
            <ion-col col-4 class="align-product-image" (click)="ProductDetail(item.id)">
              <img [src]="item.imageurl" onerror="this.onerror=null;this.src='assets/imgs/dummy.png'" />
            </ion-col>
            <ion-col col-8>
              <h5 class="marginB10" (click)="ProductDetail(item.id)"><b>{{item.itemName}}</b></h5>
              <!-- <ion-item *ngIf="item.EditionType!=0"> -->
              <div>
                <p>
                  {{item.Edition.itemEditionName}}
                </p>
              </div>
              <div class="flex-container">
                <ion-input *ngIf="item.ShowAddbutton==true" type='numeric' class="quantity" [(ngModel)]="item.quantity"
                  width="10%" min="0" [max]="item.maxquantity"></ion-input>
                <h6 class="no-margin">KWD {{item.price}}</h6>
              </div>
              <div class="text-center">
                <button class="add-product" ion-button color='primary' *ngIf="item.ShowAddbutton==true" expand="block"
                  size='lg' fill="outline" (click)="addtoCartClick(item)">Add</button>
              </div>
            </ion-col>
          </ion-row>
          <hr />
        </div>
      </ion-list>
      <ion-list *ngIf="productList.length==0">
        <ion-card>
          <ion-row class="w100" padding>
            No Item to be showen
          </ion-row>
        </ion-card>
      </ion-list>
    </ion-col>
  </ion-row>

</ion-content>