page-home {
    .align-start {
        align-items: flex-start;
    }
    .padding-top16 {
        padding-top: 16px;
    }
    .text-captalize {
       text-transform: capitalize;
    }
   .text-uppercase{
    text-transform: uppercase;
   }

   .text-green{
    color:#33db64;
   }

   .text-red{
    color:#f53e3d;
   }
   .Justify-aling{
       justify-content: space-between;
   }
}
