<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-img class="logo" src='http://golden-handle.com/logo.png'></ion-img>
      <span class="logo-name">Golden Handle</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col size=12>
        <ion-searchbar placeholder="Search products"></ion-searchbar>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-img
              src="https://gitcdn.link/cdn/Mohit-Ch/ranaissancebridge/9672d4dbdf787aadb2c4b4b8872fd59692d98ef4/assets/images/discount-product/product-3.jpg">
            </ion-img>
          </ion-card-header>

          <ion-card-content>
            <p class="text-center">Power Tools</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-img
              src="https://gitcdn.link/cdn/Mohit-Ch/ranaissancebridge/9672d4dbdf787aadb2c4b4b8872fd59692d98ef4/assets/images/slider/4.png">
            </ion-img>
          </ion-card-header>

          <ion-card-content>
            <p class="text-center">Generators</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-img
              src="https://gitcdn.link/cdn/Mohit-Ch/ranaissancebridge/9672d4dbdf787aadb2c4b4b8872fd59692d98ef4/assets/images/slider/3.jpg">
            </ion-img>
          </ion-card-header>

          <ion-card-content>
            <p class="text-center">Electronic</p>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-img
              src="https://gitcdn.link/cdn/Mohit-Ch/ranaissancebridge/9672d4dbdf787aadb2c4b4b8872fd59692d98ef4/assets/images/slider/1.jpg">
            </ion-img>
          </ion-card-header>

          <ion-card-content>
            <p class="text-center">Safty</p>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-img
              src="https://gitcdn.link/cdn/Mohit-Ch/ranaissancebridge/9672d4dbdf787aadb2c4b4b8872fd59692d98ef4/assets/images/discount-product/product-3.jpg">
            </ion-img>
          </ion-card-header>

          <ion-card-content>
            <p class="text-center">Power Tools</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-img
              src="https://gitcdn.link/cdn/Mohit-Ch/ranaissancebridge/9672d4dbdf787aadb2c4b4b8872fd59692d98ef4/assets/images/slider/4.png">
            </ion-img>
          </ion-card-header>

          <ion-card-content>
            <p class="text-center">Generators</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-img
              src="https://gitcdn.link/cdn/Mohit-Ch/ranaissancebridge/9672d4dbdf787aadb2c4b4b8872fd59692d98ef4/assets/images/slider/3.jpg">
            </ion-img>
          </ion-card-header>

          <ion-card-content>
            <p class="text-center">Electronic</p>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-img
              src="https://gitcdn.link/cdn/Mohit-Ch/ranaissancebridge/9672d4dbdf787aadb2c4b4b8872fd59692d98ef4/assets/images/slider/1.jpg">
            </ion-img>
          </ion-card-header>

          <ion-card-content>
            <p class="text-center">Safty</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>