<ion-header>
  <ion-navbar color="white">
    <ion-toolbar>
      <ion-title *ngIf='name != undefined'>
        {{name}}
      </ion-title>
    </ion-toolbar>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid class="no-padding">
    <ion-row>
      <ion-col col-12 class="autocomplete">
        <ion-searchbar placeholder="Search products" [(ngModel)]="searchText" (ionInput)="search($event)" debounce=500>
        </ion-searchbar>
        <ion-list *ngIf="searchItem.length>0 && ShowSearchList">
          <ion-item *ngFor="let res of searchItem" (click)="dataclick(res)">
            <img [src]="res.imageurl" onerror="this.onerror=null;this.src='assets/imgs/dummy.png'" />
            {{res.itemName}}

          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12 class="no-padding">
        <ion-list *ngIf="productList.length>0">
          <div *ngFor="let item of productList">
            <ion-row class="w100">
              <ion-col col-4 class="align-product-image" (click)="ProductDetail(item.id)">
                <img [src]="item.imageurl" onerror="this.onerror=null;this.src='assets/imgs/dummy.png'" />
              </ion-col>
              <ion-col col-8>
                <h5 class="marginB10" (click)="ProductDetail(item.id)"><b>{{item.itemName}}</b></h5>
                <!-- <ion-item *ngIf="item.EditionType!=0"> -->
                <ion-item>
                  <ion-select value="brown" okText="Okay" cancelText="Dismiss" (ionChange)="datachange(item)"
                    [(ngModel)]="item.EditionId">
                    <ion-option *ngFor="let editions of item.Edition " [value]="editions.id">
                      {{editions.itemEditionName}}</ion-option>
                  </ion-select>
                </ion-item>
                <!-- <ion-item *ngIf="item.EditionType==0">
                  <ion-label *ngIf="item.Edition!=undefined &&item.Edition.length>0 ">{{item.Edition[0].itemEditionName}}</ion-label>
                </ion-item> -->
                <div class="flex-container">
                  <ion-col col-5 class="calculation">
                    <div class="flex-container paddingTB6">
                      <button class="add-btn" clear (click)="decrementQty(item)">
                        <ion-icon name="remove"></ion-icon>
                      </button>
                      <div>{{item.quantity}}</div>
                      <button class="add-btn" clear (click)="incrementQty(item)">
                        <ion-icon name="add"></ion-icon>
                      </button>
                    </div>

                  </ion-col>
                  <ion-col col-7>
                    <h6 class="no-margin text-center">KWD {{item.price}}</h6>
                  </ion-col>
                  <!-- <ion-input *ngIf="item.ShowAddbutton==true" type='numeric' class="quantity" [(ngModel)]="item.quantity"
                    width="10%" min="0" [max]="item.maxquantity"></ion-input> -->
                </div>
                <div class="text-center">
                  <button class="add-product" ion-button color='primary' *ngIf="item.ShowAddbutton==true" block
                    size='lg' outline (click)="addtoCartClick(item)">Add</button>
                  <button class="add-product" ion-button color='danger' *ngIf="item.ShowAddbutton==false" block
                    size='lg' outline>Out of stock</button>
                </div>
              </ion-col>
            </ion-row>
            <hr />
          </div>
        </ion-list>
        <ion-list *ngIf="productList.length==0">
          <ion-card>
            <ion-row class="w100">
              No Item to be showen
            </ion-row>
          </ion-card>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>