<!--
  Generated template for the OrderInfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>
      <button class="back-button-manual" ion-button clear large color="dark" (click)="backbutton()">
        <ion-icon name="arrow-round-back"></ion-icon>
      </button>
      <span class="vertically-align">Delivery Address</span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list>

    <ion-row>
      <ion-col col-12 *ngIf="showlogin">
        <p class="flex-container justify-space-between">
          Continue as a guest user <span>OR</span> <a color="primary" (click)="login()"> Login </a>
        </p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12 *ngIf="existaddress">
        <p class="flex-container justify-space-between">
          <a color="primary" (click)="showAddressPopup()"> Select Delivery Address </a>

        </p>
      </ion-col>
    </ion-row>


    <ion-item>
      <ion-label stacked text-wrap>Name<span color="danger" class="text-danger">*</span>: </ion-label>
      <ion-input type="text" [(ngModel)]="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked text-wrap>Phone <span color="danger" class="text-danger">*</span>: </ion-label>
      <ion-input type="number" [(ngModel)]="Phone" max="10"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked text-wrap>Email <span color="danger" class="text-danger" *ngIf="ShowMenditoryData">*</span>:
      </ion-label>
      <ion-input type="text" [(ngModel)]="email" (change)="ValidateEmail($event)"><span color="danger" class="text-danger">*</span></ion-input>
    </ion-item>
    <p *ngIf="emailvalid" color="danger" class="text-danger">
      {{messageEmail}}
    </p>

    <!-- <ion-item>
      <ion-label stacked text-wrap>Company Name: </ion-label>
      <ion-input type="text" [(ngModel)]="CompanyName"></ion-input>
    </ion-item> -->

    <ion-item>
      <ion-label stacked text-wrap> Address : </ion-label>
      <ion-input type="text" [(ngModel)]="address1">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked text-wrap>City : </ion-label>
      <ion-input type="text" disabled="true" [(ngModel)]="city" value="Kuwait">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked text-wrap>Country </ion-label>
      <ion-input type="text" disabled="true" [(ngModel)]="country" value="Kuwait">
      </ion-input>
    </ion-item>
    <!-- <ion-item>
      <ion-label stacked text-wrap>Postal Code : </ion-label>
      <ion-input type="text" [(ngModel)]="postalCode" placeholder="Ex:- 110051">
      </ion-input>
    </ion-item> -->

    <!-- <ion-item>
      <ion-label stacked text-wrap>Special request or notes for delivery </ion-label>
      <ion-textarea type="text" [(ngModel)]="AdditionalInfo" placeholder="">
      </ion-textarea>
    </ion-item> -->

    <ion-item *ngIf="showlogin">
      <ion-label tooltip="creating an account will help you to check and replace orders">
        Want to Create an account! <br />
        <small>Select the checkbox to create your account.</small>
      </ion-label>
      <ion-checkbox slot="start" [(ngModel)]="ShowMenditoryData"></ion-checkbox>
    </ion-item>
    <ion-item *ngIf="ShowMenditoryData">
      <ion-label stacked text-wrap>password <span color="danger" class="text-danger">*</span>: </ion-label>
      <ion-input type="password" [(ngModel)]="password" min="6" (change)="checkLengthpass()"></ion-input>
    </ion-item>
    <p *ngIf="passwordV" color="danger" class="text-danger">
      Password MinimunLength is 6 character
    </p>

    <hr />
    <h4>Order Summary</h4>
    <ion-list *ngIf="productList.length>0">
      <ion-row *ngFor="let item of productList">
        <ion-col col-8>
          {{item.itemName}} <br />
          <small>{{item.Edition[0].itemEditionName}}</small>
        </ion-col>
        <ion-col col-4 class="text-right">
          <b>KWD {{item.Edition[0].price}}</b> <br />
          <small>({{item.quantity}} unit)</small>
        </ion-col>
      </ion-row>
      <hr *ngIf="Discount != 0" />
      <ion-row *ngIf="Discount != 0">
        <ion-col col-8>
          Sub Total
        </ion-col>
        <ion-col col-4>
          KWD {{subtotal}}
        </ion-col>
      </ion-row>
      <ion-row *ngIf="Discount != 0">
        <ion-col col-8>
          Discount
        </ion-col>
        <ion-col col-4>
          KWD {{Discount}}
        </ion-col>
      </ion-row>
    </ion-list>

  </ion-list>

</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <button class="flex1" ion-button color='primary' (click)="orderPlaced()" block> Place Order </button>
    <h5 class="flex2 no-margin text-right">
      <small>Total :- </small>
      <span class="text-primary"><b><small> KWD</small> {{total}}</b></span>
    </h5>
  </ion-toolbar>
</ion-footer>